# Other folder
async_com_port/
build/
gravity/
gyro_cal/
gyro_rot_matrix/
interrupt/
pb/
quat/
resampler/
signal/
sim/
timer/
flush_test/
md_test/


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.zip
